<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
<stringAttribute key="BRName" value="AnilBRKR"/>
<stringAttribute key="ConnectionInfo" value=""/>
<stringAttribute key="EGName" value="Test_Brkr"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="SATHEESH-IIB"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="2525"/>
</launchConfiguration>